
.About {
    padding: 40px;
    font-family: ComfortBold;
    background-color: #BBD0FF;
    color: #5C6FFF;
  }
  
  .header {
    background-color: white;
    font-size: 2.2em;
    padding: 20px 40px;
    border-radius: 20px;
    transition: transform 0.2s;
    box-shadow: 0px 2px 8px 2px whitesmoke;
    -webkit-box-shadow: 0px 2px 8px 2px whitesmoke;
    -moz-box-shadow: 0px 2px 8px 2px whitesmoke;
  }
  
  .header > p {
    font-family: Tang;
    color: Black;
    margin-bottom: .5em;
    font-size: .8em;
  }
  
  .header2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0px 2px 8px 2px whitesmoke;
    -webkit-box-shadow: 0px 2px 8px 2px whitesmoke;
    -moz-box-shadow: 0px 2px 8px 2px whitesmoke;
  }
  
  
  .Carlos:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    text-decoration: underline;
  }
  
  .Carina:hover {
    --ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    text-decoration: underline;
  }
  
  .Shoaib:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    text-decoration: underline;
  }
  
  .header h1 {
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    margin-bottom: 20px;
  }
  
  .About h3 {
    font-size: 2em;
    margin-top: .6em;
  }
  
  .About section {
    display: flex;
    justify-content: center;
    transition: transform 0.2s;
    margin: 0 auto;
    margin-top: 1.5em;
    flex-wrap: wrap;
  }
  
  .About section div {
    border-radius: 1em;
    box-shadow: 0em .3em 2.5em 0em grey;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
    margin: 20px;
    width: 300px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .About section img {
    width: 70%;
    height: auto;
    max-width: 250px;
    border-radius: 50%;
    padding-top: 1em;
    align-self: center;
  }
  
  .About section h5 {
    font-size: 1.6em;
    text-align: center;
    padding-bottom: 10px;
    margin: 20px 0px;
  }
  
  .About section p {
    padding: 0 2.5em;
    text-align: center;
    font-size: 1.5em;
    color: black;
    font-family: Tang;
  }
  
  .github {
    background: linear-gradient(270deg, #2181fe, #21edfe, #3621fe);
    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
    background-size: 600% 600%;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 25px;
    width: 80px;
    display: block;
    justify-self: center;
    align-self: center;
  }
  