
.About {
    padding: 40px;
    font-family: Futura;
    margin-top: 100px;
    background-color: #BBD0FF;
  }
  
  .header {
    background-color: white;
    font-size: 22px;
    padding: 20px 40px;
    border-radius: 20px;
    transition: transform 0.2s;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.75);
  }
  
  .header > p {
    color: #929292;
    margin-bottom: 20px;
  }
  
  .header2 {
    background-color: white;
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.75);
  }
  
  #img {
    width: 20px;
  }
  
  .Carlos:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    text-decoration: underline;
  }
  
  .Carina:hover {
    --ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    text-decoration: underline;
  }
  
  .Shoaib:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    text-decoration: underline;
  }
  
  .header h1 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .About > p {
    font-size: 22px;
    padding: 20px 40px;
  }
  
  .About h3 {
    font-size: 32px;
    margin-top: 40px;
  }
  
  .About section {
    display: flex;
    justify-content: center;
    transition: transform 0.2s;
    margin: 0 auto;
    margin-top: 40px;
    flex-wrap: wrap;
  }
  
  .About section div {
    border-radius: 8px;
    box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.75);
    margin: 20px;
    width: 300px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .About section img {
    width: 70%;
    height: auto;
    max-width: 250px;
    border-radius: 50%;
    padding-top: 20px;
    align-self: center;
  }
  
  .About section h5 {
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
    margin: 20px 0px;
  }
  
  .About section p {
    padding: 0 25px;
    text-align: justify;
    color: #929292;
  }
  
  .github {
    background: linear-gradient(270deg, #2181fe, #21edfe, #3621fe);
    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
    background-size: 600% 600%;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 25px;
    width: 80px;
    display: block;
    justify-self: center;
    align-self: center;
  }
  