nav {
    background: linear-gradient(270deg, #9595e9, #7777e1, #6a6ad4);
      -webkit-animation: AnimationName 9s ease infinite;
      -moz-animation: AnimationName 9s ease infinite;
      animation: AnimationName 9s ease infinite;
      background-size: 600% 600%;
  }


.nav-text {
    font-size: 1.5em;
    text-decoration: none;
    color:white;
    font-family: ComfortBold;
}
.nav-logo{
    font-size: 3.7em;
    text-shadow: .1em .1em .2em grey;
    font-family: Coconut;
}
   
.nav-text:hover{
       color: #5F00A3;
    }
    
    .active{
        font-size: 2em;
       color: #5F00A3;
       text-shadow: .1em .1em .2em lightgray;

}

@font-face {
    font-family: Coconut;
    src: url('./Fonts/Creamy\ Coconut.ttf');
}

@font-face {
    font-family: ComfortBold;
    src: url('./Fonts/Comfortaa-Bold.ttf');
}
   
   @media screen and (max-width: 900px) {
       .nav-text{
           font-size: 18px;
       }
       .nav-logo{
        font-size: 14px;
       }
       .active{
           font-size: 23px;
       }
   }