.videoList{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    margin-top: 20px;
    background-color: #bbd0ff;

}

.select-video-type{
    height: 50px;
    margin: 20px;
    padding: 10px;
    font-size: 1.1em;
}

.video-thumbnail {
    width: 17em;
    height: 17em;
    border: 2px solid black;
    border-radius: 3%;

}

.iframe-video{
    height: 15em;
    width: auto;
    border-radius: 5%;
}

.li-video{
    padding-bottom: 20px;
}

.videos-body{
    background-color: #bbd0ff;
}
