.videoList{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    margin-top: 20px;
}

.select-video-type{
    height: 50px;
    margin: 20px;
    padding: 10px;
    font-size: 1.1em;
}

.video-thumbnail {
    width: 17em;
    height: 17em;
    border: 2px solid black;
    border-radius: 2%;
}
body{
    background-color: #BBD0FF;
}
.iframe-video{
    height: 290px;
    width: 390px;
}

.li-video{
    padding-bottom: 20px;
}