.videoList {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    margin-top: 20px;
    background-color: #bbd0ff;
}

.video-thumbnail {
    width: 17em;
    height: 17em;
    border: 2px solid black;
    border-radius: 3%;
}

.iframe-video {
    height: 15em;
    width: auto;
    border-radius: 5%;
}

.select-wrapper {
    margin-top: 20px;
    border-radius: 36px;
    display: inline-block;
    overflow: hidden;
    background: #cccccc;
    border: 1px solid #cccccc;
}

.select-video-type {
    width: 280px;
    height: 50px;
    border: 0px;
    padding: 10px;
    font-size: 1.1em;
    outline: none;
}

.li-video {
    padding-bottom: 20px;
    background: url(../Media/loader2.gif) center center no-repeat;
    ;
}

.videos-body {
    background-color: #bbd0ff;
}